*{
margin:0;
padding:0;
box-sizing: border-box;
}
body{
  display: grid;
  grid-template-columns: 10vw ;
  grid-template-rows: 10vw;
  background-color: #0C35E8;
}
header{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.fotoheader{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 250px;
  transform:rotate(270deg);
  margin-left: 69px;
  margin-top:-135PX;
}
nav{
  font-size: 30px;
  float: right;
}
.S1{
  text-align: center;
  width: 100%;
  margin-left: 900px;
}
.fotoVanMij{
  margin-left: 37.5vw;
  margin-top: 5vw;
  width: 400px;
}
.contact{
   position: relative;
   margin-top: 600px;
   margin-left: -1100px;
   text-align: center;
}
.box{
  margin-left: -1400px;
  width: 45vw;
  margin-top: 800px;
  background-color: #0093FC;
}
.Taalen, .CodeerTaalen, .Hobbys{
  width: 30vw;
  margin: 70px;
}
.T1{
  margin-left: 250px;
}
.CT{
  margin-left: 480px;
  margin-top: -240px;
}
.hobifoto{
  width: 127px;
}
.Hobi{
  margin-left: 700px;
  margin-top: -260px;
}
